@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url('Asap-Regular.woff2') format('woff2'),
       url('Asap-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: url('Asap-Bold.woff2') format('woff2'),
       url('Asap-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;

  padding: 20px;
  margin: 0 auto;
  max-width: 1920px;
}

@media (max-width: 400px) {
  body {
    padding: 10px;
  }
}

.welcome-text {
  font-size: 28px;
  text-align: center;
}

.contact-me-bottom {
  font-size: 28px;
  text-align: center;
}

@media (max-width: 400px) {
  .welcome-text {
    font-size: 22px;
  }

  .contact-me-bottom {
    font-size: 22px;
  }
}

.welcome-image {
  margin-bottom: 5px;
}

.hello {
  font-size: 115px;
  line-height: 1;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 400px) {
  .hello {
    font-size: 95px;
  }
}

.projects-title {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 400px) {
  .projects-title {
    font-size: 22px;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 1280px;
  margin: auto;
}

.projects-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
  padding: 20px;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  .projects-item {
    flex-basis: 100%;
  }
}

.projects-item-logo {
  max-width: 300px;
  min-height: 80px;
}

.projects-item-logo img {
  max-height: 60px;
}

.projects-item--insider .projects-item-logo img {
  background-color: #1d1d1d;
  padding: 10px;
}

path#path4508-7 {
  animation: 1s ease-in-out infinite handwave2;
}

@keyframes handwave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

@keyframes handwave2 {
  0% { transform: translateX(0) translateY(1px); }
  50% { transform: translateX(3px) translateY(-1px); }
  100% { transform: translateX(0) translateY(1px); }
}