body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #000;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
}

button:focus {
  outline: none;
}

.album-contents {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.album-contents img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  cursor: pointer;
  outline: 1px solid #fff;
}

.all-albums {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row wrap;
}

.all-albums > div {
   /*flex: 1 1 200px;*/
  flex: 1 1 100%;
  cursor: pointer;
  overflow: hidden;
  background-position: 600px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.all-albums > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-albums > div:hover::after {
  background: rgba(255,255,255,0.2);
}

.all-albums .text-wrap {
  background: rgba(0,0,0,0.4);
  color: #fff;
}

.all-albums .title {
  font-size: 300%;
}

.current-album {
  background: #000;
  position: relative;
  z-index: 1;
}

.current-album img {
  display: block;
  margin: auto;
}

.toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
}

.toolbar .back {
  /*background: #ccc;
  border: none;*/
}
.toolbar .fullscreen.on {
/*  background: #ccc;*/
}

.toolbar .octicon {
  /*margin: 0;*/
  color: #fff;
  width: 32px;
  height: 32px;
  vertical-align: top;
  text-align: center;
  /*border: 1px solid #fff;*/
  border: none;
  background: none;
  cursor: pointer;
}

.toolbar .octicon:hover {
  color: #ccc;
  outline: 1px solid #ccc;
  outline-offset: -2px;
}


.toolbar .back {
  font-size: 32px;
}

.toolbar .menu {
  position: absolute;
  top: 0;
  right: 0;
}

.toolbar .fullscreen {
  position: absolute;
  top: 0;
  right: 40px;
}

/*.toolbar .text {
  line-height: 32px;
  color: #fff;
}*/


.preloader {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.preloader::after {
  content: '';
  width: 50px;
  height: 50px;
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  animation: preloadAnim 0.8s  linear infinite reverse;
  -webkit-animation: preloadAnim 0.8s  linear infinite reverse;
  background: #fff;
}

.paused.preloader::after {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes preloadAnim {
  0% {box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 0 #000;}
  50% {box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 25px #000;}
  100% {box-shadow: inset 0 0 0 25px #fff, inset 0 0 0 25px #000;}
}

@-webkit-keyframes preloadAnim {
  0% {box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 0 #000;}
  50% {box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 25px #000;}
  100% {box-shadow: inset 0 0 0 25px #fff, inset 0 0 0 25px #000;}
}



/*min-resolution: 2dppx*/
/*min-resolution: 192dpi*/

@media (min-width: 670px) and (max-resolution: 1dppx) {
  .all-albums > div {
    flex: 1 1 200px;
  }
}

/*@media (min-resolution: 2dppx) {
  .all-albums > div {
    flex: 1 1 400px;
  }
}*/